*{
  margin: 0;
  padding: 0;
}


body{



  display: flex;
background-color: black;
/* place-items: center; */
height: 100px;
/* width: 100%; */
margin: 50px;
}

main 
{
 /*     box-sizing: border-box; */
/*   place-items: center; */
  background-color: white;
   display: flex;
/*   height: 50%; */
  width: 500px;
  margin: auto;
  padding:50px;


  
  
    }


main,div{
 
  
}


  
  .first-content {

 color: white;
/*     box-sizing: border-box; */
background-color: hsl(31, 77%, 52%);

padding: 3%;
    
  }



.button1 {
  
  border-radius: 50px;
/*     margin: 20% 0%; */
    border: 2px solid white;
/*     border-radius: 2px; */
    width: 73%;
    height: 30px;
    color: #e28525;
    background-color:white;
   
  

  }
    .button1:hover {
  background-color: #e28525;
  color: white;
}



  .first-content h3 {
color: white;
  }


.second-content {

    color: white;
/*     box-sizing: border-box; */
background-color: hsl(184, 100%, 22%);
padding: 3%;
 
}

.second-content h3 {

color: white;
    
}

.button2 {
  
  border-radius: 50px;
    border: 2px solid white;
/*     border-radius: 2px; */
    width: 100px;
    height: 30px;
    color: hsl(184, 100%, 22%);
    background-color:white;
}
  
  
    .button2:hover {
  background-color: hsl(184, 100%, 22%);
  color: white;
}


.third-content {
color: white;
/*     box-sizing: border-box; */
background-color: hsl(179, 100%, 13%);
  padding: 3%;
}

 .third-content h3 {
color:white;

  }



.button3 {
  border-radius: 50px;

    border: 2px solid white;
/*     border-radius: 2px; */
    width: 100px;
    height: 30px;
    color: hsl(179, 100%, 13%);
    background-color:white;
}
  
  
    .button3:hover {
  background-color: hsl(179, 100%, 13%);
  color:  white;
}



