*{
  margin: 9px 0px;
  padding: 0;
}
body{
  background-color: black;
  box-sixing: border-box;
/*    border-radius: 30px; */
/*   width: 80%; */
/*   height: 80px; */
  margin-center: auto-flow;
/*    align-items: center; */
  justify-content: center;
  height: auto;
    
  
  
}

main{
  box-sixing: border-box;
  display: flex;
/*   flex-wrap: wrap; */
  justify-content: center;
  Font-Family: Legend Deca;
  font-size: 15px;
  align-items: center;
/*   border-radius: 2px; */
  height: 50vh;
  background-color: hsl(0, 0%, 95%);
  padding: 10vh;
 height: auto;
      margin: 5vh 30vh;
  width: fit-content;
   
}



  
  .first-content {
/*      width: 100px; */
/*  margin: 150px; */
 color: white;
    box-sizing: border-box;
background-color: hsl(31, 77%, 52%);
/*     border: 5px solid; */
/*   border-radius: 5px; */
/*   margin: 0% 15%; */
/*   height: 50%; */
     padding: 3%;
    border-radius: 5px 2px;
  }



.button1 {
  border-radius: 10px;
    margin: 20% 0%;
    border: 2px solid white;
    border-radius: -5px;
    width: 80px;
    height: 40px;
    color: #e28525;
    background-color:white;

  }
    .button1:hover {
  background-color: #e28525;
  color: white;
}



  .first-content h3 {
color: white;
  }


.second-content {
/*   display: flex; */
    color: white;
    box-sizing: border-box;
background-color: hsl(184, 100%, 22%);
/*     border: 5px solid; */
/*   border-radius: 5px; */
/*   margin: 10% 0%; */
/*   height: 50%; */
   padding: 3%;
  border-radius: 5px 2px;
}

.second-content h3 {

color: white;
    
}

.button2 {
  border-radius: 10px;
    margin: 20% 0%;
    border: 2px solid white;
    border-radius: -5px;
    width: 80px;
    height: 40px;
    color: hsl(184, 100%, 22%);
    background-color:white;
}
  
  
    .button2:hover {
  background-color: hsl(184, 100%, 22%);
  color: white;
}


.third-content {
/*   display: flex; */
color: white;
    box-sizing: border-box;
background-color: hsl(179, 100%, 13%);
/*     border: 5px solid; */
/*   border-radius: 10px; */
/*   margin: 0% 15%; */
/*   height: 50%; */
     padding: 3%;
/*  height: auto; */
  border-radius: 5px 2px;
  
}

 .third-content h3 {
color:white;

  }



.button3 {
  border-radius: 10px;
    margin: 20% 0%;
    border: 2px solid white;
    border-radius: -5px;
    width: 80px;
    height: 40px;
    color:hsl(179, 100%, 13%);
    background-color:white;
}
  
  
    .button3:hover {
  background-color: hsl(179, 100%, 13%);
  color:  white;
}

